body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin:20px;
}

.board-row:after{
    clear:both;
    content: "";
    display:table;
}

.box{
    background: url("https://minesweeperonline.com/sprite150.gif");
    border:1px solid black;
    float:left;
    font-size: 24px;
    font-weight: bold;
    line-height:34px;
    height: 24px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 24px;
    
}

.game-board{
    margin: auto;
    border: 10px solid black;
    border-top: 50px solid black;
}
.box:focus{
    outline:none;
}

.kbd-navigation .square:focus {
    background: #ddd;
  }

.game {
   display: flex;
   flex-direction: row;

}

